@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

// start design the Navbar
$clr: #222327;

.navbar {
    width: 100%;
    height: 110px;
    position: relative;
    background-color: $clr;
    .navbar-container {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            width: 250px;
            height: 100%;
            position: absolute;
            img {
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-50% , -50%);
                height: 80px;
            }
        }
        .search {
            position: absolute;
            width: 650px;
            height: 100%;
            left: 22%;
            .search-area {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                width: 550px;
                height: 70px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                .search-logo {
                    width: 80px;
                    height: 50px;
                    background-color: #555;
                    border-radius: 15px 0 0 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .search-mark {
                        font-size: 20px;
                    }
                }
                .search-input {
                    width: 400px;
                    height: 50px;
                    border-radius: 0 15px 15px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input {
                        width: 400px;
                        height: 50px;
                        border: none;
                        border-radius: 0 15px 15px 0;
                        padding: 5px 10px;
                        font-weight: bold;
                    }
                }
            }
        }
        .navigation-routing {
            position: absolute;
            width: 350px;
            height: 60px;
            background-image: linear-gradient(to top ,#cc2b5e , #753a88);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            right: 3%;
            bottom: 10%;
            ul {
                display: flex;
                width: 300px;
                li {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    list-style: none;
                    z-index: 1;
                    a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        text-align: center;
                        font-weight: 500;
                        .icon {
                            position: relative;
                            display: block;
                            line-height: 75px;
                            font-size: 1.1rem;
                            text-align: center;
                            transition: .5s;
                            color: $clr;
                        }
                        .text {
                            position: absolute;
                            color: $clr;
                            font-weight: bold;
                            font-size: .55em;
                            letter-spacing: 0.05em;
                            transition: 0.5s;
                            opacity: 0;
                            transform: translateY(20px);
                        }
                    }
                }
                li.active a .icon {
                    transform: translateY(-33px);
                }
                li.active a .text {
                    opacity: 1;
                    transform: translateY(10px);
                }
                .indicator {
                    position: absolute;
                    top: -50%;
                    width: 60px;
                    height: 60px;
                    background-color: #29fd53;
                    border-radius: 50%;
                    border: 6px solid $clr;
                    transition: .4s;
                }
                .indicator::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -17.6px;
                    width: 15px;
                    height: 15px;
                    background-color: transparent;
                    border-top-right-radius: 20px;
                    box-shadow: 0 -10px 0 0 $clr;
                }
                .indicator::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -17.6px;
                    width: 16px;
                    height: 16px;
                    background-color: transparent;
                    border-top-left-radius: 20px;
                    box-shadow: 0 -10px 0 0 $clr;
                }
                li:nth-child(1).active ~ .indicator {
                    transform: translateX(calc(60px * 0));
                }
                li:nth-child(2).active ~ .indicator {
                    transform: translateX(calc(60px * 1));
                }
                li:nth-child(3).active ~ .indicator {
                    transform: translateX(calc(60px * 2));
                }
                li:nth-child(4).active ~ .indicator {
                    transform: translateX(calc(60px * 3));
                }
                li:nth-child(5).active ~ .indicator {
                    transform: translateX(calc(60px * 4));
                }
            }
        }
    }
}

// start design the main section
.main-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(42, 42, 48);
}


// start design the aside section


.sidebar {
    position: absolute;
    inset: 20px;
    background-image: linear-gradient(to bottom ,#cc2b5e , #753a88);
    width: 80px;
    border-left: 10px solid transparent;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
    transition: .5s;
    height: 600px;
    ul {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        li {
        position: relative;
        list-style: none;
        width: 100%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        a {
            position: relative;
            display: block;
            width: 100%;
            display: flex;
            text-decoration: none;
            color: #fff;
            .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 70px;
                text-align: center;
                .web-logo {
                    width: 40px;
                }
            }
            .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
            }
        }
        }
        li:hover {
            background-color: #fff;
        }
        li:nth-child(1) {
            top: 20px;
            margin-bottom: 40px;
            background: none;
        }
        // li:not(:first-child):hover::before {
        //     content: '';
        //     position: absolute;
        //     top: -20px;
        //     right: 0;
        //     width: 20px;
        //     width: 20px;
        //     background: transparent;
        //     border-bottom-right-radius: 20px;
        //     box-shadow: 7.5px 7.5px 0 7.5px #fff;
        // }
        // li:not(:first-child):hover::after {
        //     content: '';
        //     position: absolute;
        //     bottom: -20px;
        //     right: 0;
        //     width: 20px;
        //     width: 20px;
        //     background: transparent;
        //     border-bottom-right-radius: 20px;
        //     box-shadow: 7.5px 7.5px 0 7.5px #fff;
        // }
        li:hover:not(:first-child) a{
            background-color: #29fd53;
            color: #222;
            border-radius: 20px 0 0 20px;
        }
    }
    .toggle {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toggle::before {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 3px;
        background-color: #000;
        transform: translateY(-5px);
        transition: 1s;
    }
    .toggle::after {
        content: '';
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 3px;
        background-color: #000;
        transform: translateY(5px);
        transition: 1s;
    }
}
.sidebar.active {
    width: 300px;
}
.sidebar.active .toggle::before {
        transform: translateY(0px) rotate(-405deg);
}
.sidebar.active .toggle::after {
        transform: translateY(0px) rotate(405deg);
}
